{% extends "base.html" %}

{% block page_title %}
Search
{% endblock page_title %}

{% block search-bar %}
{% endblock search-bar %}

{% block content %}
<h2> Search </h2>
<form mehod="get" action="{% url 'rooms:search' %}">
    <div>
        <label for="city">City </label>
        <input value="selected_city" id="city" name="city" placeholder="Search by City" />
    </div>
    <div>
        <label for="country">Country </label>
        <select id="country" name="country">
            {% for country in countries %}
            <option value="{{country.code}}" {% if selected_country == country.code %} selected {% endif %}>
                {{country.name}} </option>
            {% endfor %}
        </select>
    </div>
    <div>
        <label for="room_types">room_types </label>
        <select id="room_types" name="room_types">
            <option value="0" {% if selected_room_type == "0" %} selected {% endif %}> Any kind </option>
            {% for room_type in room_types %}
            <option value="{{room_type.pk}}" {% if selected_room_type == room_type.pk %} selected {% endif %}>
                {{room_type.name}} </option>
            {% endfor %}
        </select>
    </div>
    <div>
        <label for="Guests">Guests </label>
        <input value="{{guests}}" type="number" id="guests" name="guests" placeholder="Guests" />
    </div>
    <div>
        <label for="price">Price </label>
        <input value="{{price}}" type="number" id="price" name="price" placeholder="Price" />
    </div>
    <div>
        <label for="bedrooms">Bedrooms </label>
        <input value="{{bedrooms}}" type="number" id="bedrooms" name="bedrooms" placeholder="Bedrooms" />
    </div>
    <div>
        <label for="beds">Beds </label>
        <input value="{{beds}}" type="number" id="beds" name="beds" placeholder="Beds" />
    </div>
    <div>
        <label for="baths">Baths </label>
        <input value="{{baths}}" type="number" id="baths" name="baths" placeholder="Baths" />
    </div>
    <div>
        <label for="instant_book">Instant booking only?</label>
        <input type="checkbox" id="instant_book" name="instant_book" {% if instant_book %} checked {% endif %}/>
    </div>
    <div>
        <label for="superhost">Super host only?</label>
        <input value="{{superhost}}" type="checkbox" id="superhost" name="superhost" {% if superhost %} checked {% endif %}/>
    </div>
    <div>
        <h3>Amenity</h3>
        <ul>
            {% for amenity in amenities %}
            <li>
                <label for="a_{{amenity.pk}}"> {{amenity.name}}</label>
                <input id="a_{{amenity.pk}}" type="checkbox" name="amenities" value={{amenity.pk}} {% if amenity.pk|slugify in selected_amenities %} checked {% endif %} />
            </li>
            {% endfor %}
        </ul>
        <h3>Facility</h3>
        <ul>
            {% for facility in facilities %}
            <li>
                <label for="a_{{facility.pk}}"> {{facility.name}}</label>
                <input id="a_{{facility.pk}}" type="checkbox" name="facilities" value="{{facility.pk}}" {% if facility.pk|slugify in selected_facilities %} checked {% endif %} />
            </li>
            {% endfor %}
        </ul>
    <button>Search</button>
</form>
{% endblock content %}